.add-row {
    form {
        input[type=submit] {
            border: none;
            font-family: 'Open Sans', sans-serif;
            padding: 0.5rem 1rem;
            border-radius: 12rem;
            cursor: pointer;
        }
    }
}

.accordion {
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;

    .accordion-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        background-color: #D0D0D7;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .accordion-title:hover {
        background-color: #dddde3;
    }

    .accordion-title,
    .accordion-content {
        padding: 1rem;
    }

    .accordion-content {
        background-color: #d0d0d0;
    }

    @media screen and (max-width: 700px) {
        body {
            font-size: 18px;
        }

        .accordion {
            width: 90%;
        }
    }
}