main.index {
    background-color: #8AA39B;
    width: 100vw;
    height: 100dvh;
}

.my-table {
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    height: 70dvh;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}