.main.home {
    grid-area: main;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    padding: 1rem;

    .table-header {
        padding: 1rem;
        font-family: 'Nunito', sans-serif;
        display: flex;
        align-items: center;

        p {
            margin-left: 1rem;
        }
    }
}

.my-table {
    white-space: nowrap;
}
